<nav class="ml-auto relative">
  <button
    id="burger"
    class="md:hidden text-white text-2xl focus:outline-none"
    aria-label="Menu">
    ☰
  </button>
  
  <div id="mobileMenu"  class="hidden absolute right-0 mt-2 bg-stone-600 text-white p-4 rounded"
  >
    <a href="../index.html" class="block py-2 ">Accueil</a>
    <a href="./skills.html" class="block py-2">Compétences</a>
    <a href="./projects.html" class="block py-2">Projets</a>
    <a href="./interests.html" class="block py-2">Centres d'intérêts</a>
  </div>
</nav>